* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
}

body {
  font-family: Calibri;
  background-color: rgb(0, 20, 70);
}

header {
  background-color: rgb(0, 40, 80);
  height: 120px;
}

.pageTitle {
  font-size: 40px;
  color: rgb(200, 160, 0);
  text-align: center;
  padding: 10px 0;
}

table {
  text-align: left;
  margin: 25px auto;
  width: 75%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgb(0, 0, 0, 0.3);
  overflow: hidden;
}

thead {
  width: 33.333%;
  background-color: rgb(200, 150, 0);
}

th {
  font-size: 23px;
  color: rgb(4, 20, 70);
  padding: 10px;
}

td {
  color: rgb(4, 20, 70);
  width: 33.333%;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

td ul li {
  padding: 2px 0 2px 0;
}

tr {
  vertical-align: text-top;
  background-color: rgb(180, 130, 0);
  border-bottom: 2px solid rgb(0, 40, 80);
  margin: 0 0 10px;
}

.list {
  padding-left: 25px;
}

table:hover {
  tbody tr {
    background-color: rgb(190, 140, 0);
  }
}

@media screen and (max-width: 768px) {

  header {
    height: 100px
  }

  .pageTitle {
    font-size: 30px;
  }

  table {
    width: 90%;
  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 15px;
    padding: 10px 0 10px 5px;
  }

}